.u-section-1 .u-sheet-1 {
  min-height: 2381px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 69px 723px 0 0;
}

.u-section-1 .u-image-1 {
  width: 161px;
  height: 80px;
  margin: -119px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 133px 723px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 723px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 723px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 32px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 32px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 523px;
  }

  .u-section-1 .u-image-1 {
    height: 79px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 127px;
    margin-right: 311px;
    margin-left: 212px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 371px;
    margin-left: 271px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 14px;
    margin-right: 303px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3146px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 303px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 121px;
    margin-right: 179px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 247px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-6 {
    width: 417px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 98px;
    margin-right: 246px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -180px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 52px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 139px;
    margin-left: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5206px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 108px;
    margin-right: 127px;
    margin-left: -28px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -132px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 92px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 39px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
  }
}